<!--
  Generated template for the DoctorViewAppointmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title><h2 ion-text color="primary">Today Appointments</h2></ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="logOutUser()">
                    <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-card  *ngIf="dates?.length == 0"><ion-card-content><p ion-text color="danger">No appointment made for today.</p></ion-card-content></ion-card>
    <ion-card *ngFor="let post of dates">
        <ion-card-content>
            <ion-card-title>
                {{post.PATIENT_NME}}
            </ion-card-title>
            <p ion-text color="primary"><ion-icon name="call"></ion-icon>&nbsp;{{post.MOBILE_NO}}</p>
            <p ion-text color="danger"><ion-icon name="calendar"></ion-icon>&nbsp;{{post.APPOINTMENT_DTE}}</p>
            <p><ion-icon name="clock"></ion-icon>&nbsp;{{post.APPOINTMENT_TIME}} </p>
            <p><ion-icon name="navigate"></ion-icon>&nbsp;{{post.CLINIC_NME}} </p>
        </ion-card-content>
        <ion-row>
            <ion-col *ngIf="post.STATUS_IND === 'P'">
                <button ion-button icon-left  clear item-start color="secondary" (click)="approveAppointment(post)">
                    <ion-icon name="checkmark-circle"></ion-icon>
                    <div>Confirm Arrival</div>
                </button>
            </ion-col>
            <ion-col *ngIf="post.STATUS_IND === 'P'">
            
                <button ion-button icon-left  clear small color="danger" (click)="cancelAppointment(post)">
                    <ion-icon name="close"></ion-icon>
                    Cancel
                </button>
            </ion-col>
        </ion-row>
        
    </ion-card>

</ion-content>
